<IfModule mod_rewrite.c>
Options -Indexes

RewriteEngine On

RewriteCond %{HTTP_HOST} ^allionlogistic\.ru$ [NC]
RewriteCond %{HTTP_HOST} ^http://allionlogistic\.com$ [NC]
RewriteRule ^(.*)$ https://www.allionlogistic.com/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^/$ index.php [QSA,L]
RewriteRule ^success$ success.php [QSA,L]
RewriteRule ^policy$ politikaconf.pdf [QSA,L]
</IfModule>
